{
    "NSPrivacyAccessedAPITypes": [
        {
            "NSPrivacyAccessedAPIType": "NSCalendarsUsageDescription",
            "NSPrivacyAccessedAPITypeReasons": ["CA92.1"]
        }
    ],
    "NSPrivacyCollectedDataTypes": [],
    "NSPrivacyTrackingDomains": [],
    "NSPrivacyTracking": false
} 